{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
		<link rel="stylesheet" href="{% static 'reports/style.css' %}">		
		<title>Bienvenid@</title>
</head>
<body>
    
   <h2>Bienvenid@</h2>
   <h2>El Tata</h2>
   {% if not logged %}
   		<a href="{% url 'login' %}"><button type="button">Ingresar</button></a>
   {% else %}
   		<a href="{% url 'logout' %}"><button type="button">Salir</button></a>
   		<a href="{% url 'reports:index' user.username %}"><button type="button">Generar reporte</button></a>
   {% endif %}

</body>
</html>